@keyframes loadAnim-in {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    70% { transform: translate(-50%, -50%) scale(0.9) }
    100% { transform: translate(-50%, -50%) scale(1) }
}

.loader-anim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loadAnim-in 0.5s forwards;
}