$width: 1000px;
$height: 600px;
$radius: 7px;
$background-color: linear-gradient(135deg, #303066, #000000);

.main-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    height: $height;
    border-radius: $radius;
    background: $background-color;
    overflow: hidden;
    z-index: 0;
}

.main-wrapper::before {
    content: '';
    position: absolute;
    left: -200px;
    bottom: -200px;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, #303066 0%, transparent 90%);
    filter: blur(100px);
    pointer-events: none;
    z-index: 0;
}

/* Header */

.header {
    padding: 7px 20px;
    background: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #2c2c2c 1px;
    color: #ffffff;
    font-weight: 500;
}

.header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header div i {
    cursor: pointer;
    transition: color 0.3s;
}

.header div i:hover { color: #7474e6 }

/* Main */

main {
    color: #ffffff;
}